body {
	background-color: lightgrey;
}

body a {
	color: darkblue;
}

blockquote {
	margin-left: 0px;
	border-left: 2px solid black;
}

blockquote p {
	padding-left: 20px;
	font-style: italic;
}

#pride {
	position: fixed;
	top: 0;
	right: 0;
}

@media screen and (max-width: 810px) {
	#pride {
		top: -30px;
		right: -30px;
		transform: scale(0.5);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}

	body a {
		color: lightblue;
	}

	body h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	li,
	hr {
		color: lightgray;
	}

	blockquote {
		border-left: 2px solid white;
	}	

	nav {
		border-right: 1px lightgray solid !important;
	}
}
