:root {
	--textColor: black;
	--backgroundColor: lightgrey;
	--linkColor: darkblue;
	--quoteColor: black;
	--tableColor: black;
	--tableOddBackgroundColor: rgba(0, 0, 0, 0.25);
	--tableEvenBackgroundColor: rgba(0, 0, 0, 0.1);
	--navBackgroundColor: rgba(211, 211, 211, 0.8);
}

@media (prefers-color-scheme: dark) {
	:root {
		--textColor: lightgrey;
		--backgroundColor: black;
		--linkColor: lightblue;
		--quoteColor: white;
		--tableColor: darkgrey;
		--tableOddBackgroundColor: rgba(255, 255, 255, 0.25);
		--tableEvenBackgroundColor: rgba(255, 255, 255, 0.1);
		--navBackgroundColor: rgba(0, 0, 0, 0.8);
	}
}

body {
	background-color: var(--backgroundColor);
}

body a {
	color: var(--linkColor);
}

body h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
hr,
code,
table {
	color: var(--textColor);
}

blockquote {
	border-left: 2px solid var(--quoteColor);
	margin-left: 0px;
}

blockquote p {
	padding-left: 10px;
	font-style: italic;
}

table {
	border-collapse: collapse;
	padding: 5px;
	width: 100%;
	max-width: 612px;
}

table th {
	border: 2px solid var(--tableColor);
}

table tr td {
	font-family: monospace;
	padding: 5px;
	border: 2px solid var(--tableColor);
}

table tr:nth-child(odd) td {
	background-color: var(--tableOddBackgroundColor);
}

table tr:nth-child(even) td {
	background-color: var(--tableEvenBackgroundColor);
}

code {
	font-family: monospace;
}

nav {
	background-color: var(--navBackgroundColor);
	min-width: 138px;
	max-width: 138px;
	display: flex;
	flex-direction: column;
	top: 10px;
	position: sticky;
	align-self: flex-start;
	margin: 10px;
}

nav hr {
	width: 100%;
	margin: 10px 0 10px 0;
	border: 0.5px solid var(--textColor);
}

nav a {
	text-decoration: none;
}

main {
	font-family: sans-serif;
	display: flex;
}

header {
	display: flex;
	align-items: center;
	gap: 40px;
}

header p {
	font-family: sans-serif;
}

.links {
	display: flex;
	flex-direction: column;
	min-width: 138px;
	max-width: 138px;
	gap: 12px;
}

.active {
	font-weight: bold;
}

.avatar {
	margin: 0 auto;
	height: auto;
	width: 138px;
	height: 138px;
}

article {
	max-width: 612px;
	width: 100%;
	border-left: 1px var(--textColor) solid;
	padding-left: 10px;
}

img,
video {
	max-width: 400px;
	width: 100%;
	height: auto;
}

.letter-break {
	line-break: anywhere;
	user-select: all;
}

li + li {
	margin: 6px 0;
}

@media screen and (max-width: 450px) {
	main {
		flex-direction: column;
	}
	nav {
		border-bottom: 1px var(--textColor) solid;
		flex-flow: wrap;
		min-width: unset;
		max-width: unset;
		justify-content: space-around;
		flex-direction: column-reverse;
		position: sticky;
		top: -90px;
		margin: unset;
		padding-bottom: 10px;
	}
	article {
		border: unset;
		border-bottom: 1px var(--textColor) solid;
		padding: unset;
	}
	nav hr {
		border: none;
	}
	.links {
		border: unset;
		flex-flow: wrap;
		min-width: unset;
		max-width: unset;
		justify-content: space-around;
	}

	.avatar {
		height: 80px;
		width: auto;
	}
}
