.icons {
	display: inline-block;
	width: 1.25rem;
	vertical-align: -5px;
	margin-top: -5px;
	margin-bottom: -5px;
	height: 2rem;
	position: relative;
	background-color: var(--textColor);
	mask-repeat: no-repeat;
	mask-position: center;
}

a .icons {
	background-color: var(--linkColor);
}

.codeberg {
	mask-image: url(/assets/icons/codeberg.svg);
}

.fluxer {
	mask-image: url(/assets/icons/fluxer.svg);
}

.verified {
	mask-image: url(/assets/icons/verified.svg);
}

.coins {
	mask-image: url(/assets/icons/coins.svg);
}

.earth {
	mask-image: url(/assets/icons/earth-europe.svg);
}

.envelope {
	mask-image: url(/assets/icons/envelope.svg);
}

.share-nodes {
	mask-image: url(/assets/icons/share-nodes.svg);
}

.terminal {
	mask-image: url(/assets/icons/terminal.svg);
}

.newspaper {
	mask-image: url(/assets/icons/newspaper.svg);
}

.address-card {
	mask-image: url(/assets/icons/address-card.svg);
}

.house {
	mask-image: url(/assets/icons/house.svg);
}

.atom {
	mask-image: url(/assets/icons/atom.svg);
}

.rss {
	mask-image: url(/assets/icons/rss.svg);
}

.signal-messenger {
	mask-image: url(/assets/icons/signal-messenger.svg);
}

.paper-plane {
	mask-image: url(/assets/icons/paper-plane.svg);
}

.github {
	mask-image: url(/assets/icons/github.svg);
}

.hashtag {
	mask-image: url(/assets/icons/hashtag.svg);
}

.bitcoin {
	mask-image: url(/assets/icons/bitcoin.svg);
}

.monero {
	mask-image: url(/assets/icons/monero.svg);
}

.zelle {
	mask-image: url(/assets/icons/zelle.svg);
}
